mixin feature(title, body)
  .feature
      h2 #{title}
      p!= attributes['body']

section.feature-section.lightBg
  .features
    +feature("Secure")(
      body!="OpenPGP.js, the encryption protocol on which Felony is built, has undergone a complete security audit by Cure53, a professional pentesting firm. Check out the report here."
    )
    +feature("Open Source")(
      body!="Anyone can see how Felony works and anyone can make it better. Transparency ensures a better product and a greater degree of security. Check out Felony on GitHub here."
    )
    +feature("Simple")(
      body!="It&rsquo;s as easy as copy and paste. Copy and paste other users&rsquo; public keys to add them to your buddies list. Copy and paste encrypted and signed messages for use anywhere on the web."
    )
  a(href="").btn.primary-btn Download
