mixin step(number, title, body)
  .step
      p.step-number #{number}
      h4 #{title}
      p!= attributes['body']

section.steps.lightBg
  h3.title how it works
  +step(1, "Add public keys to your buddies list")(
    body!="A public key is like a username - Adding someone&rsquo;s public key to your buddies list lets you send them messages. You can find other public keys on markets like keybase.io and darknet."
  )
  +step(2, "Encrypt a message")(
    body!="Select a recipient from your buddies list and compose a message. Only your chosen recipient(s) can read the message. Encrypted messages might contain sensitive information, such as an address, document, or anything intended to be read only by intended recipients."
  )
  +step(3, "Send the encrypted message anywhere")(
    body!="You can send the encrypted message on any website! For example, facebook messenger, twitter direct message, or youtube. Felony is security when and where you want it."
  )
  a(href="").btn.primary-btn.download Free Download

object(type="image/svg+xml" data="./images/slant-sans-red.svg").slanty-thing.flip
